<section class = "mechanics">
  <h1>All Mechanics</h1>


  <% @mechanics.each do |mechanic| %>
  <section id = "mechanic-<%= "#{mechanic.id}" %>">
    <p>Name: <%= "#{mechanic.name}" %></p>
    <p>Years of experience: <%= "#{mechanic.years_of_experience}" %></p>
    <br  />
  </section>
  <% end %>

</section>
